.horizontal-slider{width: 100%;
    background-color: grey;
    line-height: 25px;
    height: 25px;
    border-radius:16px;
}

.slider-thumb{
    height: 25px;
    line-height: 25px;
    width: 25px;
    text-align: center;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    cursor: grab;
}

.slider-track{
    top: 0;
    bottom: 0;
    background: '#ddd';
    border-radius: 999px;
}